<% content_for :title do %>HeisenBugDev Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="job-quantumcraft-dev" data-view="JenkinsBuild" data-title="QC-Dev" data-description="QuantumCraft Dev Build" data-min="0" data-max="100"></div>
    </li>
  </ul>
</div>